.hero {
    height: 45rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    width: 100%;
    /* background-color: black;     */
}
.right > img {
    height: 100%;
}

.hero-img {
    transition-timing-function: ease-in;
    transition-delay: 4s;

}
